/************************** 
*  Import style
***************************/

@import 'helpers/variabls.scss';

/************************** 
*  General style
***************************/

.initialdisp {
    position: initial;
}

.alert {
    opacity: 1;
    float: right;
    right: 0;
    bottom: 91px;
    padding: 30px;
    margin-bottom: 0;
    background-color: $alertbg;
    display: initial;
    padding-right: 28px;
    max-width: 300px;
    text-align: left;
    position: absolute;
    @extend .transition;
    label {
        i {
            display: none;
        }
    }
    &.esconder {
        right: -300px;
        opacity: 0;
    }
    .btn-close {
        position: absolute;
        top: 15px;
        right: 15px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        color: $colorLight;
        @extend .transition;
        cursor: pointer;
    }
    .error,
    .valid {
        font-size: 16px !important;
        font-weight: $font-400 !important;
        color: $colorLight !important;
    }
}