/************************** 
*  Import style
***************************/

@import 'helpers/variabls.scss';
$BtnBg: #333333;

/************************** 
* General style
***************************/

.btn {
    background: $BtnBg;
    border: medium none;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    color: $colorLight;
    display: inline-block;
    font-weight: $font-500;
    font-family: $fontTwo;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    @extend .transition;
}

.btn:hover,
.btn:focus {
    color: $colorLight;
    @extend .box-shadownone;
    @extend .transition;
}


/************************** 
* Button style 1
***************************/

.draw {
    height: 43px;
    line-height: 43px;
    position: relative;
    background: transparent;
    font-size: 13px;
    font-weight: $font-600;
    color: $mainColorTwo;
    height: 100%;
    &:before,
    &:after {
        box-sizing: inherit;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        width: 0;
        height: 0;
    }
    &::before {
        top: 0;
        left: 0;
    }
    &::after {
        bottom: 0;
        right: 0;
    }
    .fa {
        color: $mainColorTwo;
        padding-left: 5px;
        font-size: inherit;
    }
    &:hover {
        color: $mainColorTwo;
        background: transparent !important;
        @extend .transition;
        &:before,
        &:after {
            width: 100%;
            height: 100%;
        }
        &:before {
            transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
        }
        &:after {
            transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
        }
    }
    &:focus {
        background: transparent !important;
        color: $mainColorTwo;
    }
}