/************************** 
*  Import style
***************************/

@import 'helpers/variabls.scss';

/************************** 
* General Style
***************************/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.scroll-icon {
    position: absolute;
    width: 200px;
    height: 90px;
    padding-right: 3.5rem;
    bottom: 0px;
    right: 25%;
    text-align: $text-right;
    border-right: 1px dashed rgba($colorLight, 0.3);
    z-index: 2;
}

.scroll-icon .mouse {
    position: absolute;
    height: 38px;
    width: 25px;
    border: 3px solid $colorLight;
    border-radius: 12px;
    right: -13px;
    top: 10px;
    display: block;
    text-align: $text-center;
    z-index: 10;
    -webkit-animation: vertical 3s ease infinite;
    animation: vertical 3s ease infinite;
}

.scroll-icon .mouse::before {
    content: "";
    display: block;
    height: 5px;
    width: 3px;
    background-color: $colorLight;
    position: absolute;
    top: 6px;
    left: 50%;
    margin-left: -1.5px;
    border-radius: 2px;
}

.scroll-icon .end-top {
    content: "";
    background-color: $colorLight;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: -6px;
    right: -4px;
}

@-webkit-keyframes vertical {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(-5px);
    }
    40% {
        -webkit-transform: translateY(20px);
    }
}

@keyframes vertical {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    20% {
        -webkit-transform: translateY(-5px);
    }
    40% {
        -webkit-transform: translateY(20px);
    }
}