/************************** 
* Import style
***************************/

@import 'helpers/variabls.scss';

/************************** 
* Theme option box
***************************/

.sidebar-contet {
    z-index: 999;
    position: fixed;
    top: 50%;
    right: -350px;
    transform: translateY(-50%);
    width: 240px;
    box-sizing: border-box;
    transition: 0.5s;
    background: $mainbgtwo;
    display: flex;
    justify-content: center;
    align-items: center;
    @media #{$maxMobile} {
        width: 272px;
        right: -272px;
    }
    &.active {
        right: 0;
    }
    .contentsidebar {
        width: 240px;
        left: 0;
        right: 0;
        z-index: 999999999;
        position: absolute;
        padding: 60px 10px 60px 10px;
        background: $mainbgtwo;
        .themecolor {
            display: inline-block;
            width: 100%;
            .list-sidebar {
                li {
                    float: $flot-left;
                    margin-bottom: 10px;
                    span {
                        font-size: 13px;
                        padding: 0;
                        display: inline-block;
                        height: 48px;
                        padding-left: 10px;
                        padding-right: 10px;
                        line-height: 48px;
                        min-width: 93px;
                        text-align: $text-center;
                        margin-bottom: 0;
                        margin: 5px 8px;
                        cursor: pointer;
                    }
                    a {
                        font-size: 13px;
                        height: 48px;
                        padding: 0;
                        display: inline-block;
                        padding-left: 10px;
                        padding-right: 10px;
                        line-height: 48px;
                        min-width: 93px;
                        text-align: $text-center;
                        cursor: pointer;
                        margin: 5px 8px;
                    }
                }
            }
            .list-color {
                display: inline-block;
                width: 100%;
                li {
                    float: $flot-left;
                    span {
                        width: 35px;
                        height: 35px;
                        height: 26px;
                        width: 28px;
                        margin: 0;
                        min-width: auto;
                        cursor: pointer;
                        border: 1px solid $brdcolor;
                        margin: 10px 13px;
                    }
                }
            }
        }
    }
}

.mainicon {
    position: absolute;
    width: auto;
    text-align: $text-center;
    cursor: pointer;
    background: $colorLight;
    left: -160px;
    @media #{$maxMobile} {
        min-width: 48px !important;
        padding-right: 0;
        left: -50px;
    }
    span {
        display: inherit;
        margin-top: 0;
        margin-bottom: 0;
        a {
            color: $mainColorTwo;
        }
        &:nth-child(01) {
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: $text-center;
            display: inline-block;
        }
        &:nth-child(02) {
            display: inline-block;
            font-size: 13px;
            font-weight: $font-700;
            color: $mainColorTwo;
            text-transform: capitalize;
            font-family: $fontTwo;
            line-height: 1.9;
            letter-spacing: 0.5px;
            padding-left: 10px;
        }
    }
    .purchase-text {
        @media #{$maxMobile} {
            display: none !important;
        }
    }
    &.sidebaricon {
        top: calc(37% - 25px);
        align-items: center;
        display: flex;
        span {
            &:nth-child(01),
            &:nth-child(02) {
                color: $colorLight;
            }
        }
    }
    &.btn-purchase {
        top: calc(37% + 33px);
    }
    &.active {
        left: -48px;
    }
}

.list-color li span[data-color="default"] {
    background-color: $mainColor;
}

.list-color li span[data-color="orange"] {
    background-color: $orangeColor;
}

.list-color li span[data-color="gold"] {
    background-color: $goldColor;
}

.list-color li span[data-color="green"] {
    background-color: $greenColor;
}

.list-color li span[data-color="blue"] {
    background-color: $blueColor;
}

.list-color li span[data-color="purple"] {
    background-color: $purpleColor;
}

.list-color li span[data-color="yellow"] {
    background-color: $yellowColor;
}

.list-color li span[data-color="rose"] {
    background-color: $roseColor;
}