.line-stripe-0,
.line-stripe-1,
.line-stripe-2,
.line-stripe-3,
.line-stripe-4 {
    height: 89%;
    width: 1px;
    background: rgba(#fff, .03);
    position: absolute;
    bottom: 0;
}

.line-stripe-0 {
    left: 10%;
}

.line-stripe-0:before,
.line-stripe-4:before {
    top: 20%;
}

.line-stripe-0:after {
    bottom: 20%;
}

.line-stripe-1:before {
    top: 5%;
}

.line-stripe-1:after {
    bottom: 5%;
}

.line-stripe-2:before {
    top: 5%;
}

.line-stripe-2:after {
    bottom: 5%;
}

.line-stripe-3:before {
    top: 5%;
}

.line-stripe-3:after {
    bottom: 5%;
}

.line-stripe-4:after {
    bottom: 20%;
}

.line-stripe-1 {
    left: 30%;
}

.line-stripe-2 {
    left: 50%;
}

.line-stripe-3 {
    left: 70%;
}

.line-stripe-4 {
    left: 90%;
}