/************************** 
* Import Style
***************************/

@import 'helpers/variabls.scss';

/************************** 
* Navbar Style Two
***************************/

.nav-styletwo {
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.sq-price {
        @extend .transition;
    }
    .mylogo {
        .logo {
            img {
                width: 100px;
            }
        }
    }
    .menu-toggle {
        position: relative;
        padding: 10px 0;
        float: $flot-right;
        z-index: 2;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        display: none;
        @media #{$maxSmall} {
            display: block;
        }
        .bar {
            display: block;
            width: 28px;
            height: 2px;
            background-color: $mainColor;
            @extend .transition;
            &:first-child {
                width: 14px;
                margin: 0;
                margin-right: 14px;
            }
            &:nth-child(2) {
                margin: 6px 0;
            }
            &:last-child {
                width: 14px;
                margin: 0;
                margin-left: 14px;
            }
        }
    }
    .navbar {
        padding-left: 0;
        padding-right: 0;
        &.menu-active {
            .menu-toggle {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                .bar {
                    &:first-child,
                    &:last-child {
                        -webkit-transform: rotate(-90deg) translateY(7px);
                        -moz-transform: rotate(-90deg) translateY(7px);
                        -ms-transform: rotate(-90deg) translateY(7px);
                        -o-transform: rotate(-90deg) translateY(7px);
                        transform: rotate(-90deg) translateY(7px);
                        margin-right: 0;
                        margin-left: 0;
                    }
                }
            }
        }
        .navbar-collapse {
            @media #{$maxSmall} {
                position: absolute;
                top: 62px;
                left: 0;
                width: 100%;
                background: $mainbgone;
            }
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        font-family: $fontOne;
                        font-weight: $font-500;
                        padding: 0;
                        position: relative;
                        display: inline-block;
                        font-size: 20px;
                        letter-spacing: 0.5px;
                        color: $mainColorTwo;
                        margin: 15px 5px;
                        padding-right: .5rem;
                        padding-left: .5rem;
                        @media #{$maxSmall} {
                            margin: 0;
                            width: 100%;
                            padding: 6px 0 6px 15px;
                            border-bottom: 1px solid $brdcolor;
                        }
                        &.active {
                            @media #{$maxSmall} {
                                color: $mainColor;
                            }
                            &:after {
                                opacity: .3;
                            }
                        }
                        &::after {
                            content: '';
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background: $mainbgFour;
                            opacity: 0;
                            position: absolute;
                            top: 0px;
                            left: 0px;
                            z-index: -1;
                            @extend .transition;
                        }
                    }
                }
            }
        }
    }
}


/* Hide show meny style  */

.none-sq-price {
    @extend .transition;
}