/************************** 
* Import Style
***************************/

@import 'helpers/variabls.scss';

/************************** 
* Footer
***************************/

#footer {
    padding: 20px;
    height: 100%;
    position: relative;
    @media #{$maxMobile} {
        padding: 20px 10px;
    }
    @media #{$minmax} {
        padding: 20px 10px;
    }
    .line {
        position: absolute;
        width: 100%;
        height: 1px;
        top: 0;
        right: 0;
        background: $brdcolor;
        overflow: hidden;
        &:before {
            display: block;
            content: "";
            position: absolute;
            width: 20vh;
            height: 100%;
            top: 0;
            right: -50%;
            -webkit-animation: run 8s 0s infinite;
            animation: run 8s 0s infinite;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            -webkit-animation-timing-function: cubic-bezier(.4, .26, 0, .97);
            animation-timing-function: cubic-bezier(.4, .26, 0, .97);
        }
    }
    .copyright {
        height: 100%;
        display: flex;
        text-align: $text-left;
        align-items: center;
        @media #{$maxMobile} {
            display: inherit;
            text-align: $text-center;
            margin-bottom: 30px;
        }
        @media #{$minmax} {
            display: inherit;
            text-align: $text-center;
            margin-bottom: 30px;
        }
        span {
            margin: 0;
            font-family: $fontTwo;
            font-size: 16px;
            line-height: 1.9;
            letter-spacing: 0.5px;
            font-weight: $font-400;
            color: $mainColorTwo;
            text-transform: capitalize;
        }
    }
    .news {
        .form-inline {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            float: $flot-right;
            @media #{$maxMobile} {
                display: inherit;
                float: none;
            }
            @media #{$minmax} {
                display: inherit;
                float: none;
            }
            span {
                margin-bottom: 0;
                margin: 0;
                font-family: $fontTwo;
                font-size: 16px;
                line-height: 1.9;
                letter-spacing: 0.5px;
                font-weight: $font-400;
                color: $mainColorTwo;
                text-transform: capitalize;
                margin-right: 20px;
                @media #{$maxMobile} {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
                @media #{$minmax} {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            .form-group {
                width: 50%;
                position: relative;
                @media #{$maxMobile} {
                    width: 100%;
                    position: relative;
                }
                @media #{$minmax} {
                    width: 100%;
                    position: relative;
                }
                .form-control {
                    text-align: $text-left;
                    padding-left: 20px;
                    padding-right: 39px;
                }
                .submit {
                    position: absolute;
                    right: 0;
                    padding-right: 20px;
                    padding-left: 0;
                    background: transparent;
                }
            }
        }
    }
}

@-webkit-keyframes run {
    0% {
        right: -50%
    }
    to {
        right: 150%
    }
}

@keyframes run {
    0% {
        right: -50%
    }
    to {
        right: 150%
    }
}


/* Change Autocomplete styles in Chrome*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $mainColorTwo;
    -webkit-box-shadow: 0 0 0px 1000px $mainbgone inset;
    transition: background-color 5000s ease-in-out 0s;
}

div#mc_embed_signup {
    div#mc_embed_signup_scroll {
        .mc-field-group {
            .mce_inline_error {
                padding: 0;
                background-color: transparent;
                z-index: 1;
                margin-bottom: 0;
                margin: 0;
                font-family: "Saira";
                font-size: 16px;
                line-height: 1.9;
                letter-spacing: 0.5px;
                font-weight: $font-400;
                color: $mainColorTwo;
                text-transform: capitalize;
                width: 100%;
            }
        }
    }
}