/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET FOR Invest               ||||||||||||||||||||||||||||||||||
****************************************************************************************************************
    Project:        Bayra | Personal Portfolio / CV / Resume Template
    Version:        1.0
    Author:         Uxign

||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

1- General Style
2- Heigh slider
3- Header 
4- About Us
5- services
6- Counetr
7- Portfolio
8- resume
9- journal
10- Contact
11- Header Follow


||||||||||||||||||||||||||||              COLOR CODES                       ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

# Main Color (text):        
# Dark grey (text):         
# Dark Gray (headings)      
# Dark Gray (Links)         
# Background                
# Background Two            
a (standard):              
a (visited):                
a (active):                 

||||||||||||||||||||||||||||              Typography                        ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

Fonts One: "Nunito"
Fonts Two: "Saira"

Notes:  Google Fonts


****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/


/************************** 
* 1. General Style
***************************/


/* Import style scss  */

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Saira:100,200,300,400,500,600,700,800,900&display=swap');
@import url("../vendor/bootstrap.css");
@import url("../vendor/font-awesome.css");
@import url("../vendor/fonts.css");
@import url("../vendor/animate.css");
@import url("../vendor/hover-min.css");
@import url("../vendor/magnific-popup.css");
@import 'helpers/variabls.scss';
@import 'helpers/mixins.scss';
@import 'pages/globalpage.scss';
@import 'layouts/header.scss';
@import 'pages/homepages';
@import 'layouts/footer.scss';
@import 'components/buttons.scss';
@import 'components/headings.scss';
@import 'components/humberger-menu.scss';
@import 'components/vertical-menu.scss';
@import 'components/option-themes.scss';
@import 'components/button-To-Top.scss';
@import 'components/cursor.scss';
@import 'components/niceScroll.scss';
@import 'components/stripeLine.scss';
@import 'components/betwen.scss';
@import 'components/alert.scss';
a:hover,
a:focus,
.fa:hover,
.navbar-header .navbar-brand span,
.navbar-inverse .navbar-nav li a:hover,
.navbar-inverse .navbar-nav li a:focus,
.cont-services .services-block .fa,
#portfolio .portfolio-list .nav li:hover {
    @extend .transition;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h2 {
    color: $mainColorThree;
    font-weight: $font-600;
}

h4 {
    color: #000000;
    font-size: 14px;
    font-weight: $font-600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h5 {
    color: #626262;
    font-size: 14px;
    font-weight: $font-500;
}

a {
    text-decoration: none !important;
}

ul {
    margin-bottom: 0;
}

span {
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

.fa {
    color: #626262;
    font-size: 13px;
}

.fa,
.fa:hover {
    @extend .transition;
}

input {
    display: inline-block !important;
    letter-spacing: 1px;
    width: 100% !important;
}

textarea {
    height: auto !important;
    width: 100% !important;
}

.form-control {
    background-color: transparent;
    height: 50px;
    text-align: $text-center;
    color: $mainColorTwo;
    border-radius: 0;
    font-size: 16px;
    min-width: auto;
    vertical-align: middle;
    font-weight: $font-400;
    font-family: $fontOne;
    line-height: 1.9;
    letter-spacing: 0.5px;
}

.form-control:focus {
    outline: 0 none;
    background: transparent;
    @extend .box-shadownone;
}

.separator {
    font-family: $fontOne;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.5px;
    font-weight: $font-400;
    margin-bottom: 0;
}

.read-more {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: $font-400;
    text-transform: capitalize;
    width: 100%;
    @extend .transition;
}

.maintitle {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: $font-600;
    margin-bottom: 20px;
    line-height: 1.4;
    font-family: $fontTwo;
    letter-spacing: 0.5px;
}

.paddsection {
    padding-top: 90px;
    padding-bottom: 90px;
}

.fixblok {
    padding: 20px;
}

.hvr-shutter-in-horizontal::before {
    background: #222222 none repeat scroll 0 0;
}


/* Padding & margin */

.pt-60 {
    padding-top: 60px;
}

.pt-90 {
    padding-top: 90px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-90 {
    padding-bottom: 90px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}


/* End Padding */


/* Media Fix */

.r-mb-30 {
    @media #{$maxMobile} {
        margin-bottom: 30px;
    }
    @media #{$minmax} {
        margin-bottom: 30px;
    }
}

.brdnone {
    @media #{$maxMobile} {
        border: none !important;
    }
    @media #{$minmax} {
        border: none !important;
    }
}


/* Input */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: none;
}


/************************** 
* Heigh slider
***************************/

.content {
    width: 100%;
    margin: 0 auto;
    z-index: -1;
    position: relative;
    position: absolute;
    left: 0;
    transform: translate(0, -54%);
}

.overlay-2 {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
}

.overlay-1 {
    background: $mainbgone;
    background-image: url(../../images/line-maker.svg);
    background-repeat: repeat;
    background-position: center center;
    z-index: 9999999;
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 0;
    .screen {
        color: $mainColorFour;
        font-family: $fontTwo;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 300px;
        font-weight: $font-800;
        opacity: 0.2;
        margin: 0;
        @media #{$maxMobile} {
            font-size: 72px;
        }
        @media #{$minmax} {
            font-size: 75px !important;
        }
    }
    .intro {
        .myBtn {
            font-family: $fontTwo;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 24px 48px;
            font-size: 12px;
            font-weight: $font-700;
            letter-spacing: 6px;
            color: $colorLight;
            border: 2px solid $colorLight;
            text-transform: uppercase;
            z-index: 1;
            cursor: crosshair !important;
            transition: 0.8s ease-out;
            display: block;
            background: none;
            outline: none;
            overflow: hidden;
            &:hover {
                color: $mainColorFive;
                cursor: crosshair !important;
                &:before {
                    top: 0;
                }
            }
            &:before {
                content: "";
                position: absolute;
                background: $colorLight;
                bottom: 0;
                left: 0;
                right: 0;
                top: 100%;
                z-index: -1;
                transition: top 0.8s ease-out;
            }
        }
    }
}


/************************** 
* Header 
***************************/

.fullheader {
    position: relative;
}

#header {
    background: url(https://via.placeholder.com/1595x757) repeat scroll center center/cover;
    background-attachment: fixed;
    margin-bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &:before {
        content: '';
        opacity: 0.5;
        transition: opacity 300ms;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
    }
    .head-info {
        display: inline-block;
        width: 100%;
        position: relative;
        .header-content {
            display: block;
            text-align: $text-left;
            width: 100%;
            span {
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 0;
                text-transform: capitalize;
                font-weight: $font-400;
                font-family: $fontTwo;
                line-height: 1.9;
                letter-spacing: 0.5px;
                display: initial;
            }
            .subtitle {
                align-items: center;
                display: flex;
                position: relative;
                &::before {
                    content: "";
                    width: 15px;
                    display: inline-block;
                    height: 3px;
                    background: $mainbgSix;
                    margin-right: 10px;
                }
            }
            span.paye {
                font-size: 16px !important;
                display: inherit;
            }
            span.ville {
                font-size: 14px !important;
                padding-left: 10px;
            }
            .textfull {
                text-transform: uppercase;
                font-size: 60px;
                font-weight: $font-700;
                margin-bottom: 2px;
                position: relative;
                line-height: 1.4;
                font-family: $fontTwo;
                font-style: normal;
                font-size: 80px;
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                @media #{$maxMobile} {
                    font-size: 40px;
                }
                @media #{$minmax} {
                    font-size: 40px;
                }
            }
            .location {
                display: inline-block;
                width: 100%;
                position: relative;
                margin-top: 40px;
                .listlocaion {
                    display: inline-block;
                    width: 100%;
                    position: relative;
                    li {
                        float: $flot-left;
                        margin-right: 20px;
                        padding-left: 20px;
                        @media #{$maxMobile} {
                            margin-bottom: 30px;
                            margin-right: 0;
                            width: 100%;
                        }
                        @media #{$minmax} {
                            margin-bottom: 30px;
                            margin-right: 20px;
                            width: auto;
                        }
                        &:last-child {
                            @media #{$maxMobile} {
                                margin-bottom: 0;
                            }
                            @media #{$minmax} {
                                margin-bottom: 0;
                            }
                        }
                        &:before {
                            content: "";
                            height: 56px;
                            width: 4px;
                            position: absolute;
                            margin-left: -20px;
                        }
                    }
                }
            }
        }
    }
}

span.typed-cursor.typed-cursor--blink {
    display: inline;
}

span#typed-slide-1 {
    display: initial;
}


/************************** 
* About Us
***************************/

#about {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        top: 90px;
        right: -19px;
        background-color: $mainbgthre;
        height: 1px;
        width: 110px;
        position: absolute;
    }
    .about-blok {
        height: 100%;
        overflow: hidden;
        .aboutinfo {
            display: flex;
            justify-content: center;
            align-items: center;
            @media #{$maxMobile} {
                display: initial;
            }
            @media #{$minmax} {
                display: initial;
            }
            .about-img {
                padding: 15px;
                overflow: hidden;
                height: auto;
                &::before {
                    content: "";
                    position: absolute;
                    content: "";
                    height: 300px;
                    width: 300px;
                    background: url(../../images/svg-icon/about-shape.svg) no-repeat;
                    background-repeat: no-repeat;
                    bottom: -11%;
                    left: -5%;
                    z-index: -1;
                    -webkit-animation: opacityChange 2s linear 2s infinite;
                    animation: opacityChange 2s linear 2s infinite;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 16px;
                    left: 31px;
                    width: 60%;
                    height: 5px;
                    z-index: 2;
                    background-color: $mainColor;
                }
                img {
                    width: 100%;
                }
            }
            .about-descr {
                @media #{$maxMobile} {
                    margin-top: 30px;
                }
                @media #{$minmax} {
                    margin-top: 30px;
                }
                .title {
                    text-transform: capitalize;
                    font-weight: $font-600;
                    margin-bottom: 20px;
                    line-height: 1.4;
                    font-family: $fontTwo;
                    font-size: 28px;
                    letter-spacing: 1px;
                }
                .separator {
                    padding-right: 50px;
                    margin-bottom: 30px;
                }
                .fa {
                    color: $mainColorTwo;
                    padding-left: 5px;
                    font-size: inherit;
                }
            }
        }
    }
    #skills {
        width: 100%;
        height: auto;
    }
    .skills-bar-container {
        position: relative;
        text-align: $text-left;
        margin-bottom: 50px;
        display: inline-block;
        width: 100%;
        li {
            position: relative;
            width: 100%;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            .progressbar-title {
                h3 {
                    display: inline-block;
                    font-size: 14px;
                    font-weight: $font-700;
                    text-transform: capitalize;
                    font-family: $fontTwo;
                    line-height: 1.9;
                    letter-spacing: 0.5px;
                }
                .percent {
                    margin-top: 9px;
                    margin-bottom: 0;
                    font-size: 13px;
                    font-weight: $font-700;
                    float: $flot-right;
                }
            }
            .bar-container {
                position: relative;
                width: 100%;
                height: 3px;
                margin-top: 5px;
                display: block;
                .progressbar {
                    position: absolute;
                    width: 0%;
                    height: 100%;
                    -webkit-animation-duration: 2s;
                    animation-duration: 2s;
                    -webkit-animation-timing-function: ease-out;
                    animation-timing-function: ease-out;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }
                #progress-html {
                    -webkit-animation-name: progress-html;
                    animation-name: progress-html;
                    -webkit-animation-delay: 0.7s;
                    animation-delay: 0.7s;
                    margin: 0;
                }
                #progress-css {
                    -webkit-animation-name: progress-css;
                    animation-name: progress-css;
                    -webkit-animation-delay: 1.4s;
                    animation-delay: 1.4s;
                    margin: 0;
                }
                #progress-javascript {
                    -webkit-animation-name: progress-javascript;
                    animation-name: progress-javascript;
                    -webkit-animation-delay: 2.1s;
                    animation-delay: 2.1s;
                    margin: 0;
                }
                #progress-php {
                    -webkit-animation-name: progress-php;
                    animation-name: progress-php;
                    -webkit-animation-delay: 2.8s;
                    animation-delay: 2.8s;
                    margin: 0;
                }
                #progress-angular {
                    -webkit-animation-name: progress-angular;
                    animation-name: progress-angular;
                    -webkit-animation-delay: 3.5s;
                    animation-delay: 3.5s;
                    margin: 0;
                }
            }
        }
    }
    .hvr-shutter-in-horizontal {
        background: transparent;
        display: inline-block;
        font-size: 13px;
        text-transform: capitalize;
        font-family: $fontTwo;
        letter-spacing: 0.5px;
        font-weight: $font-600;
        color: $mainColorTwo;
        margin-bottom: 0;
        &:before {
            background: transparent !important;
        }
    }
}

@-webkit-keyframes opacityChange {
    0% {
        opacity: .5
    }
    75% {
        opacity: 1
    }
    to {
        opacity: .5
    }
}

@keyframes opacityChange {
    0% {
        opacity: .5
    }
    75% {
        opacity: 1
    }
    to {
        opacity: .5
    }
}


/************************** 
* services
***************************/

#services {
    height: auto;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 0;
    width: 100%;
    .cont-services {
        background: none;
        @media #{$maxMobile} {
            display: initial;
        }
        @media #{$minmax} {
            display: initial;
        }
        .servfix {
            &:hover {
                .read-more {
                    color: $mainColor !important;
                    i {
                        color: $mainColor !important;
                    }
                }
            }
            .services-block {
                cursor: pointer;
                padding: 20px;
                box-shadow: 0px 9px 31px 6px rgba($mainColorSix, 0.2) !important;
                @extend .transition;
                figure {
                    width: 16%;
                    img {
                        width: 100%;
                        height: 100%;
                        @extend .transition;
                    }
                }
                .read-more {
                    margin-bottom: 20px;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: capitalize;
                    .fa {
                        margin-left: 5px;
                    }
                }
                h4 {
                    margin-top: 20px;
                }
                &:hover .image-box-img {
                    opacity: 0.5;
                    @extend .transition;
                }
                &:hover {
                    background: transparent !important;
                    @extend .transition;
                }
            }
        }
    }
}


/************************** 
* Counetr 
***************************/

.counter {
    position: relative;
    .fullcounter {
        padding: 40px;
        h3 {
            span {
                font-size: 40px;
                display: initial;
                font-family: $fontOne;
                letter-spacing: 0.5px;
                font-weight: $font-400;
            }
        }
        .maintitle {
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}

.fake-div {
    width: 100%;
    height: 1280px;
    position: relative;
}

.error {
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    font-weight: 400;
}

.icons-fonts {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    position: absolute;
    font-size: 20px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    display: initial;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0;
}

.icons-fonts img {
    opacity: 0;
    display: none;
}

.overlay {
    &:hover {
        .icons-fonts {
            opacity: 0.9;
            -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
        }
    }
}


/************************** 
* Portfolio
***************************/

#portfolio {
    position: relative;
    .allprojecrt {
        text-align: $text-right;
        @media #{$maxMobile} {
            text-align: $text-left;
        }
    }
    .portfolio-item {
        position: relative;
        display: inline-block;
        width: 100%;
        .portfolio-thumbnail {
            margin-bottom: 30px;
            position: relative;
            height: 435px;
            overflow: hidden;
            cursor: pointer;
            @extend .transition;
            &:hover {
                @extend .transition;
                .top-thumbnail {
                    img {
                        -webkit-filter: blur(3px);
                        filter: blur(3px);
                        @extend .transition;
                    }
                }
                .botom-thumbnail {
                    margin-bottom: -98px;
                    @extend .transition;
                }
            }
            .top-thumbnail {
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                    z-index: 1;
                    @extend .transition;
                }
            }
            .overlay {
                height: 95%;
                left: 3.5%;
                opacity: 0;
                position: absolute;
                top: 2.5%;
                width: 93%;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                @extend .transition;
                &:hover {
                    opacity: 1;
                    @extend .transition;
                }
                .content-port {
                    width: 100%;
                    text-align: $text-center;
                    span {
                        margin-top: 0;
                    }
                    .fa {
                        font-size: 20px;
                        padding: 20px;
                        margin-bottom: 0;
                        border-radius: 100px;
                    }
                }
            }
            .botom-thumbnail {
                position: absolute;
                width: 100%;
                bottom: 0;
                background: transparent !important;
                padding: 20px;
                @extend .transition;
                h4 {
                    margin-bottom: 0;
                }
                p {
                    text-transform: capitalize;
                    font-weight: $font-500;
                    font-size: 15px;
                    display: inline-block;
                    font-family: $fontTwo;
                }
            }
        }
    }
}


/************************** 
* resume
***************************/

#resume {
    width: 100%;
    height: auto;
    position: relative;
    .resume-info {
        padding: 20px 20px;
        position: relative;
        padding-top: 20px !important;
        border-top: 3px solid $resumeBorderThre !important;
        box-shadow: 0px 9px 31px 6px rgba($mainColorSix, 0.2) !important;
        @extend .box-shadownone;
        &:before {
            content: "";
            width: 90%;
            height: 30%;
            position: absolute;
            right: -25px;
            bottom: -30px;
            z-index: -1;
            background: url(http://themezinho.net/tourog/images/dot-pattern.png) right;
            background-size: 10px;
            opacity: 0;
            @extend .transition;
        }
        .maintitle {
            /*      padding: 10px; */
            padding-left: 0;
            padding: 0;
        }
        &.selected {
            &::before {
                opacity: 1;
            }
        }
        &:hover {
            &:before {
                opacity: 1;
                @extend .transition;
            }
        }
    }
}

.b1,
.b2 {
    border: none !important;
    box-shadow: 0px 9px 31px 6px rgba($mainColorSix, .2) !important;
}

.b1 {
    background: #1a1a1a;
}

.b2 {
    background: #222222;
    margin-top: 20px;
    @media #{$ipSmall} {
        margin-top: 0;
    }
}

.res-line {
    margin-top: 40px;
    width: 100px;
    height: 3px;
    background: $mainColor;
}

.res-list {
    padding: 0;
    margin-top: 20px;
    li {
        display: block;
        color: $colorLight;
        margin-bottom: 20px;
        font-size: 17px;
    }
}


/************************** 
* Team
***************************/

.team {
    position: relative;
    .teamiteam {
        cursor: pointer;
        box-shadow: 0px 9px 31px 6px rgba($mainColorSix, 0.2) !important;
        &:hover {
            .imgteam {
                img {
                    -webkit-filter: blur(3px);
                    filter: blur(3px);
                    @extend .transition;
                }
            }
            .socials-media {
                margin-bottom: 24px !important;
                @extend .transition;
            }
        }
        .imgteam {
            height: 435px;
            position: relative;
            @extend .transition;
            overflow: hidden;
            &:after {
                content: '';
                opacity: 0.4;
                transition: opacity 300ms;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                right: 0;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @extend .transition;
            }
            .socials-media {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin-bottom: -40px;
                @extend .transition;
                z-index: 9;
                ul {
                    display: flex;
                    justify-content: center;
                    li {
                        float: $flot-left;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        margin-left: 5px;
                        margin-right: 5px;
                        border-radius: 4px;
                        @extend .transition;
                        &:hover {
                            @extend .transition;
                        }
                    }
                }
            }
        }
        .btmteam {
            padding: 20px;
            .maintitle {
                margin-bottom: 0;
            }
            .separator {
                text-transform: capitalize;
                font-weight: $font-500;
                font-size: 15px;
                display: inline-block;
                font-family: $fontTwo;
            }
        }
    }
}


/************************** 
* journal
***************************/

#journal {
    position: relative;
    height: auto;
    width: 100%;
    .journal-info {
        position: relative;
        overflow: hidden;
        box-shadow: 0px 9px 31px 6px rgba($mainColorSix, 0.2) !important;
        figure {
            position: relative;
            margin-bottom: 0;
            height: 235px;
            &:hover {
                &::before {
                    -webkit-animation: shine .75s;
                    animation: shine .75s;
                }
            }
            &::before {
                position: absolute;
                top: 0;
                left: -75%;
                z-index: 2;
                display: block;
                content: '';
                width: 50%;
                height: 100%;
                background: -webkit-linear-gradient(left, rgba($colorLight, 0) 0%, rgba($colorLight, .3) 100%);
                background: linear-gradient(to $flot-right, rgba($colorLight, 0) 0%, rgba($colorLight, .3) 100%);
                -webkit-transform: skewX(-25deg);
                transform: skewX(-25deg);
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .journal-txt {
            padding: 20px;
            .maintitle {
                margin-bottom: 12px;
            }
        }
    }
    @-webkit-keyframes shine {
        100% {
            left: 125%;
        }
    }
    @keyframes shine {
        100% {
            left: 125%;
        }
    }
}

.snip1 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @extend .transition;
}

.snip1 {
    width: 100%;
    &:after {
        background: $mainbgSeven;
        width: 0;
        height: 3px;
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        @extend .transition;
    }
}

.snip1:hover:after,
.snip1.hover:after {
    width: 100%;
}


/************************** 
* Contact
***************************/

.infcontactfull {
    padding-top: 30px;
    padding-bottom: 30px;
}

#contact {
    height: auto;
    width: 100%;
    position: relative;
    .contact-block {
        margin-bottom: 30px;
        .maintitle {
            font-size: 16px;
        }
        .fa {
            font-size: 30px;
            margin-bottom: 20px;
            padding: 10px;
        }
        span {
            font-size: 14px;
            margin: 0;
            text-transform: capitalize;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .contact-formone {
        padding-top: 30px;
        padding-left: 80px;
        @media #{$maxMobile} {
            padding-left: 0;
        }
        @media #{$minmax} {
            padding-left: 0;
        }
        .form-inline {
            .form-group {
                margin-bottom: 30px;
            }
            .btn {
                width: 100%;
                img {
                    margin-right: 10px;
                    width: 16px;
                }
                i {
                    margin-right: 10px;
                    color: $colorLight;
                }
            }
            .form-message {
                position: absolute;
                left: 16px;
                bottom: -58px;
                width: 91%;
                background: #333333;
                border: medium none;
                border-radius: 0;
                height: 50px;
                line-height: 50px;
                padding: 0 30px;
                color: $colorLight;
                font-weight: $font-500;
                font-family: $fontTwo;
                font-size: 16px;
                letter-spacing: 0.5px;
                text-transform: capitalize;
                display: none;
                &.success {
                    background-color: #37983b;
                    display: inherit;
                }
                &.error {
                    background-color: #f54033;
                    display: inherit;
                }
                span {
                    margin: 0;
                    font-size: 15px;
                }
            }
        }
    }
    .socials-media {
        margin-top: 70px;
        width: 100%;
        ul {
            display: flex;
            justify-content: center;
            li {
                float: $flot-left;
                margin-left: 5px;
                margin-right: 5px;
                height: 40px;
                width: 40px;
                line-height: 40px;
                border-radius: 4px;
                @extend .transition;
                .fa {
                    font-size: 16px;
                    color: $colorLight;
                }
                &:hover {
                    @extend .transition;
                }
            }
        }
    }
}

#contact .contact-formone .form-inline label {
    display: block;
    position: absolute;
    top: 54px;
    left: 14px;
    font-size: 14px;
}

#contact .contact-formone .form-inline .form-group {
    margin-bottom: 40px;
}

#contact .contact-formone .form-inline textarea+label {
    top: auto;
    bottom: 0;
}


/************************** 
* Header Follow
***************************/

.header-follow {
    top: 50%;
    left: 30px;
    width: 20px;
    height: 200px;
    position: fixed;
    margin-top: -100px;
    z-index: 99;
    @media #{$maxMobile} {
        display: none;
    }
    @media #{$minmax} {
        display: none;
    }
    @media #{$minmaxLarg} {
        display: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: block;
            font-size: 12px;
            text-align: $text-center;
            margin-bottom: 10px;
            transition: all 300ms;
            .fa {
                color: $mainColorTwo;
            }
            &:hover {
                transform: scale(1.5, 1.5);
            }
        }
    }
    p {
        top: 70px;
        left: -24px;
        width: 68px;
        height: 20px;
        line-height: 1.2;
        white-space: nowrap;
        position: relative;
        transform: rotate(-90deg);
        margin: 0;
        font-family: $fontTwo;
        letter-spacing: 0.5px;
        color: $mainColorTwo;
        text-transform: capitalize;
        font-weight: $font-500;
        font-size: 14px;
        &:after {
            top: 9px;
            right: -51px;
            width: 40px;
            height: 1px;
            content: "";
            display: block;
            position: absolute;
        }
    }
}


/************************** 
* Swiper slide
***************************/

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/************************** 
* Blog Details
***************************/


/* Page title */

.page-title {
    position: relative;
    background: url('https://via.placeholder.com/1559x300') center top no-repeat;
    text-align: center;
    overflow: hidden;
    .overlay {
        height: 100%;
        background-color: rgba($mainColorSix, .78);
        padding-top: 150px;
        padding-bottom: 150px;
        .content {
            z-index: 1;
            h2 {
                color: $colorLight;
                font-weight: $font-700;
                letter-spacing: .7px;
                font-size: 52px;
                text-transform: uppercase;
                margin-bottom: 35px;
            }
            ul {
                li {
                    position: relative;
                    display: inline-block;
                    margin-right: 10px;
                    padding-right: 15px;
                    font-size: 17px;
                    text-transform: capitalize;
                    letter-spacing: .5px;
                    &:last-child {
                        color: $colorLight;
                        padding-right: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

.page-title .content ul li:first-child:after,
.page-title .content ul li.two:after {
    content: "\f101";
    font-family: "FontAwesome";
    position: absolute;
    right: -5px;
    top: 3px;
    font-size: 14px;
    font-weight: $font-800;
    color: $colorLight;
}


/* Blog Details */

.blog-details {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    overflow-y: auto;
    .blog-single {
        .post {
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 30px;
            .post-img {
                overflow: hidden;
                height: 511px;
                img {
                    width: 100%;
                    @extend .transition
                }
                &:hover {
                    img {
                        -webkit-transform: scale(1.1);
                        -moz-transform: scale(1.1);
                        -o-transform: scale(1.1);
                        -ms-transform: scale(1.1);
                        transform: scale(1.1);
                        @extend .transition
                    }
                }
            }
            .post-content {
                position: relative;
                padding: 30px 20px;
                border: 1px solid rgba($colorLight, 0.1);
                border-top: none;
                .post-date {
                    font-size: 14px;
                    letter-spacing: 1.2px;
                    margin-bottom: 10px;
                }
                .post-title {
                    a {
                        h4 {
                            color: $colorLight;
                            font-size: 16px;
                            font-weight: $font-600;
                            line-height: 1.5;
                            letter-spacing: .5px;
                            margin: 0 0 5px;
                            text-transform: uppercase;
                            @extend .transition;
                            &:hover {
                                @extend .transition
                            }
                        }
                    }
                }
                .post-text {
                    p {
                        margin-top: 10px;
                        margin-bottom: 0;
                        padding-top: 10px;
                        border-top: 1px solid #212121;
                        &:last-of-type {
                            border-top: none;
                            padding-top: 0;
                            margin-bottom: 15px;
                        }
                    }
                }
                .more-details {
                    padding: 0 20px;
                    p {
                        margin-bottom: 15px;
                    }
                    blockquote {
                        position: relative;
                        background: #222223;
                        border-radius: 6px;
                        margin: 0 0 15px;
                        border-left: none;
                        padding: 20px;
                        i {
                            position: absolute;
                            top: 50%;
                            left: 14px;
                            -webkit-transform: translateY(-50%);
                            -moz-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                            -o-transform: translateY(-50%);
                            transform: translateY(-50%);
                            font-size: 38px;
                        }
                        p {
                            margin-bottom: 0;
                            padding-left: 55px;
                        }
                    }
                }
                .post-footer {
                    padding: 35px 20px;
                    border-top: 1px solid #222223;
                    h5 {
                        font-size: 17px;
                        letter-spacing: .5px;
                        text-transform: capitalize;
                        color: $colorLight;
                        font-weight: $font-600;
                        margin-bottom: 25px;
                    }
                    .post-share {
                        margin-bottom: 35px;
                        .social-media {
                            li {
                                display: inline-block;
                                margin-right: 14px;
                                a {
                                    i {
                                        display: inline-block;
                                        width: 40px;
                                        height: 40px;
                                        line-height: 42px;
                                        text-align: center;
                                        font-size: 18px;
                                        border-radius: 50%;
                                        color: $colorLight;
                                    }
                                    .fa-facebook {
                                        background-color: #3b5998;
                                    }
                                    .fa-twitter {
                                        background-color: #1da1f2;
                                    }
                                    .fa-google-plus {
                                        background-color: #db4437;
                                    }
                                    .fa-behance {
                                        background-color: #0057ff;
                                    }
                                }
                            }
                        }
                    }
                    .post-tags {
                        .tags-list {
                            li {
                                display: inline-block;
                                a {
                                    display: inline-block;
                                    color: $colorLight;
                                    font-size: 15px;
                                    letter-spacing: .3px;
                                    margin-bottom: 5px;
                                    margin-right: 12px;
                                }
                            }
                        }
                    }
                }
                .post-comments {
                    padding: 0 20px 25px;
                    h3 {
                        font-size: 21px;
                        letter-spacing: .5px;
                        text-transform: capitalize;
                        color: $colorLight;
                        font-weight: $font-600;
                        margin-bottom: 35px;
                    }
                    .post-comment {
                        position: relative;
                        margin-bottom: 35px;
                        &.reply {
                            margin-left: 90px;
                        }
                        .comment-image {
                            img {
                                width: 80px;
                                border-radius: 50%;
                                object-fit: cover;
                            }
                        }
                        h4 {
                            font-size: 16px;
                            letter-spacing: .5px;
                            text-transform: capitalize;
                            color: $colorLight;
                            font-weight: $font-600;
                            margin-bottom: 7px;
                        }
                        span {
                            display: inline-block;
                            color: #fbf4e0;
                            letter-spacing: .5px;
                            margin-bottom: 10px;
                            margin: 0;
                        }
                        .reply-btn {
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 16px;
                            letter-spacing: .4px;
                            i {
                                font-weight: $font-500;
                                margin-right: 7px;
                            }
                        }
                    }
                }
                .post-form {
                    padding: 0 20px 35px;
                    h3 {
                        font-size: 21px;
                        letter-spacing: .5px;
                        text-transform: capitalize;
                        color: $colorLight;
                        font-weight: $font-600;
                        margin-bottom: 35px;
                    }
                    .form-group {
                        margin-bottom: 40px;
                        textarea {
                            height: 155px;
                            resize: none;
                            padding-top: 18px;
                        }
                        .main-btn {
                            min-width: 185px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}


/* Blog Sidebar */

.blog-sidebar {
    .sidebar-search {
        position: relative;
        .form-group {
            margin-bottom: 30px;
            .search-btn {
                position: absolute;
                top: 50%;
                right: 2%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 36px;
                height: 36px;
                line-height: 33px;
                text-align: center;
                border-radius: 50%;
                font-size: 19px;
                background: transparent;
                border: none;
                cursor: pointer;
            }
        }
    }
    .sidebar-categories {
        padding: 35px 20px;
        margin-bottom: 30px;
        border: 1px solid rgba($colorLight, 0.1);
        h4 {
            font-size: 20px;
            letter-spacing: .3px;
            text-transform: capitalize;
            color: $colorLight;
            font-weight: $font-600;
            margin-bottom: 25px;
        }
        .categories-list {
            margin-bottom: 0;
            li {
                a {
                    display: block;
                    color: #fbf4e0;
                    font-size: 15px;
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid #181819;
                    font-weight: $font-600;
                    span {
                        float: right;
                        margin: 0;
                    }
                    &:hover {
                        @extend .transition;
                    }
                }
                &:last-of-type {
                    a {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border-bottom: none;
                    }
                }
            }
        }
    }
    .sidebar-posts {
        padding: 35px 20px;
        margin-bottom: 30px;
        border: 1px solid rgba($colorLight, 0.1);
        h4 {
            font-size: 20px;
            letter-spacing: .3px;
            text-transform: capitalize;
            color: $colorLight;
            font-weight: $font-600;
            margin-bottom: 25px;
        }
        .post-inner {
            position: relative;
            padding-left: 110px;
            margin-bottom: 25px;
            .post-image {
                position: absolute;
                top: 0;
                left: 0;
                width: 90px;
            }
            .post-info {
                h5 {
                    a {
                        display: inline-block;
                        font-size: 15px;
                        line-height: 1.5;
                        letter-spacing: .3px;
                        text-transform: uppercase;
                        color: #fbf4e0;
                        font-weight: $font-600;
                        margin: 0 0 4px;
                        &:hover {
                            @extend .transition;
                        }
                    }
                }
                p {
                    font-size: 14px;
                    letter-spacing: .3px;
                    color: #bdbcbc;
                    font-weight: $font-500;
                    margin: 0;
                }
            }
            &:last-of-type {
                margin-bottom: 12px;
            }
        }
    }
    .sidebar-archives {
        padding: 35px 20px;
        margin-bottom: 30px;
        border: 1px solid rgba($colorLight, 0.1);
        h4 {
            font-size: 20px;
            letter-spacing: .3px;
            text-transform: capitalize;
            color: $colorLight;
            font-weight: $font-600;
            margin-bottom: 25px;
        }
        .archives-list {
            margin-bottom: 0;
            li {
                a {
                    display: block;
                    color: #fbf4e0;
                    font-size: 15px;
                    letter-spacing: .3px;
                    margin-bottom: 15px;
                    font-weight: $font-600;
                    &:hover {
                        @extend .transition;
                    }
                }
                 :last-of-type {
                    a {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .sidebar-tags {
        padding: 35px 20px;
        margin-bottom: 30px;
        border: 1px solid rgba($colorLight, 0.1);
        h4 {
            font-size: 20px;
            letter-spacing: .3px;
            text-transform: capitalize;
            color: $colorLight;
            font-weight: $font-600;
            margin-bottom: 25px;
        }
        .tags-list {
            margin-bottom: 0;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    color: #fbf4e0;
                    font-size: 15px;
                    letter-spacing: .3px;
                    margin-bottom: 5px;
                    margin-right: 10px;
                    font-weight: $font-600;
                    &:hover {
                        @extend .transition;
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .blog .post .post-content .post-text p,
    .blog .post .post-content .more-details p {
        font-size: 15px;
    }
    .blog .post .post-content .more-details .image,
    .blog .post .post-content .post-comment .comment-image {
        margin-bottom: 15px;
    }
    .blog .post .post-content .more-details .image img {
        width: 100%;
    }
    .blog .post .post-content .post-comment.reply {
        margin-left: 65px;
    }
}

@media (max-width: 575.98px) {
    .blog .post .post-content .post-date,
    .blog .post .post-content .post-title h4 {
        font-size: 14px;
    }
}

#mainBlog {
    overflow-y: initial;
    .nav-styletwo.sq-price {
        z-index: 99999;
    }
}